html {
    box-sizing: border-box;
} 
*,
*::before,
*::after {
	box-sizing: inherit; 
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Lobster', cursive;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}

.container {
	max-width: 1400vw;
	margin-left: auto;
	margin-right: auto;
    padding: 0 10px;
}

.section {
    width: 100%;
    margin: 10px auto;
}
.section h1 {
    text-align: center;
    font-weight: bold;
    font-size: 36px;
    line-height: 56px;
    color: #000;
    letter-spacing: 1.5px;
}
.section hr {
    margin: 26px auto 0;
    width: 56px;
    height: 2px;
    background-color: #000;
    border-radius: 5px;
}
.main-content {
    margin: 33px auto 0;
    width: 65%;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;  
    text-align: center;
    color: #7D7987;
}
.services-box {
    width: 1120px;
    margin: 80px auto;
}
.services-box-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
}
.services-box-item {
    width: 350px;
    margin-bottom: 35px;
    border-radius: 20px;
    box-shadow: 0 4px 2px 2px rgba(204, 200, 200, .5);
    padding: 50px 37px;
    padding-top: 50px;
    padding-left: 37px;
    display: flex;
    flex-direction: column;
}
.img-wrapper {
    height: 95px;
    display: flex;
    align-items: center;
}
.services-box-item img {
    display: block;
}
.item-content-wrapper {
    margin-top: 50px;
}
.services-box-item h2 {
    font-weight: bold;
    font-size: 24px;
    line-height: 56px;
    color: #000;
    letter-spacing: 1.3px;
}
.services-box-item p {
    width: 94.8%;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    color: #7D7987;
}

@media only screen and (max-width: 1120px) {
    .services-box {
        width: 80vw;
    }
    .services-box-item {
        width: 38vw;
    }
}
@media only screen and (max-width: 900px) {
    .section h1 {
        font-size: 30px;
    }
    .services-box {
        margin-top: 40px;
    }
    .top-content {
        font-size: 17px;
        margin-top: 15px;
    }
    .section hr {
        margin-top: 0;
    }
    .services-box-item {
        padding: 30px 20px;
        margin-bottom: 15px;
    }
    .item-content-wrapper {
        margin-top: 20px;
    }
    .services-box-item h2  {
        font-size: 20px;
    }
    .services-box-item p {
        font-size: 15px;
    }
}
@media only screen and (max-width: 690px) {
    .services-box-item {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        padding: 30px 0;
    }
    .services-box-item h2 {
        line-height: 40px;
    }
    .services-box-item p {
        line-height: 25px;
    }
    .item-content-wrapper {
        width: 70%;
        padding-left: 20px;
        margin-top: 0;
    }
}
@media only screen and (max-width: 400px) {
    .section h1 {
        font-size: 25px;
    } 
    .top-content {
        font-size: 15px;
        margin-top: 10px;
    }
    .services-box-item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 30px;
        padding-right: 30px;
    }
    .services-box-item h2 {
        font-size: 18px;
    }
    .services-box-item p {
        font-size: 14px;
    }
    .item-content-wrapper {
        margin-top: 20px;
        padding-left: 0;
        width: 100%;
    }
}